*{
    padding: 0;
    background-color:transparent;
}


body{
    background-image: url(./assets/img/scream.jpg);
    background-repeat: no-repeat;
    background-color: black;
}

h2,p{
    color: white;
}

section{
    padding: .3rem;
    text-align: center;
    width: 100%;
    margin-top: .3rem;
    border-radius: 1rem;
}

video{
    height: 50%;
    width: 50%;
    border-radius: 3px;
}

section img {
    border-radius: .4rem;
}

button{
    padding: .6rem;
    background-color: red;
    color: white;
    border-radius: .5rem;
}
